/* <================== about hero section =================> */
.heroabout {
  width: 100%;
  background-color: #251757;
  /* background-image: url(/images/aboutus/background.svg)  ; */
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  height: 600px;
  /* transform: rotate(180deg); */
  /* margin-bottom: 500px; */
}

/* .container{
    width: 90%;
} */

.herosection {
  width: 70%;
  margin: auto;
  position: relative;
  top: 150px;
}
.herosection > h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
}
.herosection > p {
  font-size: 18px;
  color: #ececec;
  font-weight: 500;
}

.story-container {
  background-color: #ffffff;
  display: flex;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  position: relative;
  top: -100px;
  flex-direction: row;
  justify-content: space-around;
}

/* <======================= number counter ===================> */
.our-story {
    width: 100%;
}
.our-story > .story-container {
    width: 80%;
}
.counter_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #ffffff;
  padding: 20px 0px 20px 0px;
  border-radius: 15px;
  box-shadow: 2px 2px 14px #bbbbbb96;
}
.counter_wrapper .count_box {
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
}
.counter_wrapper .count_box h3 {
  font-size: 40px;
  font-weight: 600;
  color: #222;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.counter_wrapper .count_box h4 {
  font-size: 15px;
  font-weight: 300;
  color: #222;
  padding-top: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.counter_wrapper .box_center {
  background-position: center 0;
  background-size: cover;
}
.counter_wrapper .box_center h3,
.counter_wrapper .box_center h4 {
  color: rgb(24, 24, 24);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* <===============about us =======================> */
.about {
    width: 100%;
    margin: 100px 0px;
}
.about > .container {
    width: 90%;
    margin: auto;
}
.about > .container >.aboutcontant {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px 0px;
    justify-content: space-around;
}
.about > .container >.aboutcontant:nth-child(2) {
    flex-direction: row-reverse;
}
.about > .container >.aboutcontant:nth-child(4) {
    flex-direction: row-reverse;
}
.about > .container > .aboutcontant > .content {
    width: 50%;
}
.about > .container > .aboutcontant > .content > h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0px;
}
.about > .container > .aboutcontant > .content > p {
    color: #606060;
  }
.about > .container > .aboutcontant > img {
    width: 25%;
}


/* <=================== how to diffrent other packers and movers ===============> */
.DeffrentPackers {
    width: 100%;
    margin: 250px 0px;
    text-align: center;
}
.DeffrentPackers > h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0px;
}
.DeffrentPackers > p {
    font-size: 18px;
    width: 40%;
    color: #636363;
    margin: auto;
}
.DeffrentPackers > .container {
    width: 80%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.DeffrentPackers > .container > .deffrent {
    width: 15%;
}
.DeffrentPackers > .container > .deffrent > img{
    width: 70%;
}
.DeffrentPackers > .container > .deffrent > h3{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
    color: #343434;
}
.DeffrentPackers > .container > .deffrent > p{
    font-weight: 600;
    color: #636363;
}













/* <======================== media quariy===============> */

@media (max-width: 1000px) {
    /* <========================= herosection =====================> */
    .heroabout{
        height: 800px;
    }
    .herosection{
        width: 90%;
        top: 50px;
    }
    .herosection > h1 {
        font-size: 28px;
    }
    .herosection > p {
        font-size: 16px;
    }

    /* <=================== counter-increment ==================> */
    .story-container {
        top: -200px;
    }
    .our-story > .story-container {
        width: 80%;
    }
    .counter_wrapper .count_box h3 {
        font-size: 24px;
    }
    .counter_wrapper {
        flex-wrap: wrap;
    }
  .counter_wrapper .col-md-4 {
    margin-bottom: 15px;
  }


  /* <==================== about contant ======================> */
  .about > .container >.aboutcontant {
    flex-direction: column;
  }
  .about > .container > .aboutcontant > .content {
    width: 100%;
  }
  .about > .container > .aboutcontant > .content > h2 {
    font-size: 24px;
  }
  .about > .container > .aboutcontant > .content > p {
    font-size: 15px;
    color: #606060;
  }
  .about > .container >.aboutcontant:nth-child(2) {
    flex-direction: column;
  }
  .about > .container >.aboutcontant:nth-child(4) {
    flex-direction: column;
  }
  .about > .container > .aboutcontant > img {
    width: 80%;
    margin: 40px 0px;
}


  /* <=============== how to diffrent other packers and movers =========> */
  .DeffrentPackers > p {
    width: 90%;
    font-size: 14px;
  }
  .DeffrentPackers > h2 {
    font-size: 22px;
  }
  .DeffrentPackers > .container{
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
  }
  
  .DeffrentPackers > .container > .deffrent {
    width: 90%;
    margin: 40px 0px;
  }
  .DeffrentPackers > .container > .deffrent > img {
    width: 30%;
  }
  .DeffrentPackers > .container > .deffrent > p {
    font-size: 14px;
  }
}










/* <======================= media quari===================> */
@media  (max-width: 1000px) and (min-width: 550px) {
    /* <==================hero section ===============> */
    .heroabout{
        height: 500px;
    }
    .story-container {
        top: -100px;
    }
}



/* <===================== media quari =========================> */
@media  (max-width: 1600px) and (min-width: 1000px){

    /* <================= about ===============> */
    .about > .container > .aboutcontant > img {
        width: 40%;
    }

    .DeffrentPackers > .container > .deffrent {
        width: 20%;
    }

}