@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
  }

  .navigatipnbar{
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 5px 2px #b5b5b524;
    background-color: #ffffff;
  }
  .nav {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title > a{
    display: flex;
    align-items: center;
    font-size: 22px;
    color: rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }
  
  .nav > .nav-btn {
    display: none;  
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links{
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
   
  .nav .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    margin: 0px 15px;
    border-radius: 7px;

  }
  
  .nav > .nav-links >{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
  }

  .nav .nav-links a:hover{
      color: rgb(255, 255, 255);
      background-color: #0067A9;
      transition: all 0.3s ease-in-out ;
  }
  .nav .nav-links a:nth-child(5){
      background-color: #0067A9;
      color: #fff;
      border-radius: 7px;
      display: inline;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav .call_btn {
    display: none;
  }
  


  /* <============= main===========> */
  main {
    width: 100%;
    height: 100%;
  }
  
  /* <============= first section===========> */
  .first {
    background: url(/images/bagckground.jpg) center center no-repeat;
    background-size: cover;
    height:900px;
  }

  .first img {
    position: absolute;
  }

  /* <============= hero section===========> */
  .Hero_Section{
    width: 88%;
    margin: auto;
    display: flex;
    position: relative;
    top: 106px;
    justify-content: space-between;
    flex-direction: row;
  }
  .Hero_Section img {
    display: none;
  }

  /* <============= left hero side ===========> */
  .left {
    width: 50%;
    color: #fff;
    z-index: 1;
  }
  .left h1{
    font-size: 45px;
  }
  .feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffffb6;
    margin-top: 390px;
    border-radius: 8px;
    color: black;
    width: 560px;
  }
  .feature p {
    align-items: center;
    display: flex;
    padding: 21px 32px 0px;
  }
  .feature p:nth-child(3){
    padding: 17px 27px 20px 27px;
  }
  .feature p span {
    margin-left: 30px;
  }
  .feature p img {
    display: block;
  }
  
  /* <============= right hero side ===========> */

  .right {
    width: 29%;
    z-index: 1;
  }
  .right form {
    width: 100%;
    /* max-width: 382px; */
    padding: 27px 57px 45px 57px;
    background-color: #fff;
    border-radius: 12px;
  }
  .right form .inputs{
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .right form .inputs input, .right form .inputs select{
   padding: 9px 10px;
   border: 0.5px solid #787878;
   border-radius: 3px;
   margin: 8px 0px;
   color: #797979;
  }
  .right form .inputs input:focus, .right form .inputs select:focus {
    outline: none;
  }
  
  .right form .inputs select option:nth-child(1){
    display: none;
  }
  
  .right form .inputs input:nth-child(7){
    color: #ffffff;
    background-color: #0067A9;
    border: 1px solid #0067A9;
    font-weight: 600;
  }

  .right form .inputs p span a{
    color: #0067A9;
  }

  .right form .inputs h2{
    font-size: 30px;
  }



  /* <=========call animation button =========> */
  .call_animation a img {
    position: fixed;
    z-index: 12;
    border-radius: 50%;
    bottom: 12px;
    right: 12px;
  }

  .custom_call{
    position: fixed;
    bottom: 24px;
    z-index: 1;
    right: 10px;
  }
  .custom_call_btn{
    width: 100%;
    height: 100%;
    border: unset;
    cursor: pointer;
    outline: none;
    background-color: #0067a9;
  }
  .custom_call_btn img {
    margin-top: 5px;
  }
  .call-animation {
    overflow: hidden;
      background: #00436d;
    position: relative;
      right: 0%;
      bottom: 0%;
      width: 48px;
      height: 48px;
      margin: 0 auto;
      border-radius: 100%;
      animation: play 2s ease infinite;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
    
    
  }
   
  @keyframes play {
  
      0% {
          transform: scale(1);
      }
      15% {
          box-shadow: 0 0 0 5px #82b5d4 ;
      }
      25% {
          box-shadow: 0 0 0 8px #9fdaff;
      }
      25% {
          box-shadow: 0 0 0 12px #7bc5f0, 0 0 0 17px #daf1ff;
      }
  
  }
  


  /* <============== section second ===================> */
  .second {
    width: 100%;
  }
  .continar {
    width: 90%;
    margin: auto;
  }
















/* <======================================== midiya quary ========================================> */


  @media (max-width:978px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 0px;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      margin-top: 12px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color:  rgb(255, 255, 255);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 18px;
      height: 6px;
      border-top: 2px solid rgb(17, 17, 17);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav .nav-links a {
        margin-top: 30px;
        padding: 10px 10px;
        margin: 15px 0px;
        width: 50%;
        position: relative;
        left: 30px;
    }
    
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(55vh - 50px);
      overflow-y: auto;
      z-index: 2;
    }
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: rgb(0, 0, 0);
      padding: 10px 10px 10px 10px;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
  }

  .nav .nav-links a:nth-child(5){
    display: none;
  }
  .nav-title a {
    position: relative;
    left: 5%;
    box-sizing: border-box;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    top: 0;
    color: black;
    text-decoration: none;
  }

  .nav-title a span{
    font-size: 14px;
  }

  .nav .call_btn {
    display: block;
    position: relative;
    /* right: 28px; */
  }




    /* <========== main=========> */

    /* <============= hero section===========> */
    .Hero_Section{
      width: 100%;
      flex-direction: column;
      top: 185px;
    }
    .feature {
      display: none;
    }
    .first img {
      position: absolute;
      top: 77px;
  }

  .Hero_Section img {
    position: absolute;
    top: -180px;
    display: block;
  }

  .first .Hero_Section .left p {
    font-size: 13px;
    padding: 19px 0px;
  }



    /* <======= first section =====> */
    .right, .left{
      width: 90%;
      margin: auto;
    }
    .right form .inputs h2{
      font-size: 20px;
    }
    .left h1 {
      font-size: 24px;
      position: relative;
      top: -150px;
    }
    .first {
      height:430px;
    }

    .right form .inputs p{
      font-size: 12px;
    }


  }











  /* < =============== media quariy ==============> */

  @media  (max-width: 1600px) and (min-width: 1200px) {
    .right {
      width: 40%;
    }

    .feature p {
      padding: 21px 32px ;
    }

    .feature p:nth-child(3){
      padding: 0px 32px 15px 32px;
    }
  }











  /* < =============== media quariy ==============> */

  @media  (max-width: 1200px) and (min-width: 978px) {
    .right {
      width: 50%;
    }
    .feature {
      width: 60%;
      margin-top: 235px;
    }
    .feature p {
      padding: 21px 32px 0px 32px ;
    }
    .feature p:nth-child(3){
      padding: 21px 32px 10px 32px;
    }
  }