@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    /* user-select: none; */
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    
}
/* <========================== NAVBAR ======================> */
.navbar{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    /* cursor: pointer; */

}
nav{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 64px;
    display: flex;
    color: black;

}
.logo{
    width: 40%;
    height: 100px;

} 
.logo h2{
    font-family: 'Ubuntu', sans-serif;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
    /* margin: -10px auto; */
    width: 100%;
}
.logo a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.menu {
    width: 60%;
    height: 100px;
}
.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s;
    padding: 3px 10px;

}
.menu ul li:hover {
    border-bottom: 2px solid #5388ff;
    border-radius: 3px;
}
.menu ul li a {
    font-family: 'Open Sans', sans-serif;

    text-decoration: none;
    color: white;
    font-size: 16px;

    
}
.background {
    background-size: cover;
    background-blend-mode: darken;
    /* background: linear-gradient(100deg, #082d95, #194bff); */
    z-index: 1;
    background-color: #5388ff;

}
.navbar {
    background-color: #5388ff;
}


/* <==================== HEROSECTION =================== */
.firstSection {
    /* height: 100vh; */
}

.box_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    /* height: 135vh; */
}

/* <--------------- left hend side ---------------> */
.firsetHalf{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    /* margin-right: 30%; */
    margin-top: 50px;
}

.fill_box {
    /* border: 1px solid #BEBEBE; */
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 30px;
    height: 100%;
    width: 70%;
    /* margin-right: 50%; */
    box-shadow: 0px 0px 10px 0px rgb(197 197 197);
    background-color: #fff;
}
.paragerap_p p{
    color: #454545;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 500;
    font-size: 16px;
    word-spacing: 3.2px;
    margin-top: 20px;
}
.bold_moving {
    margin-top: 30  px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.bold_moving p  {
 color: #565252;
 font-family: 'Roboto', sans-serif;
}
.bold_moving p b {
    font-size: 20px;
    word-spacing: 1px;
    color: #323232;
    line-height: 10px;
    /* position: relative;
    top: 10px; */
}


/* <------------------------------- 4 moving type ---------------------> */
.moving_type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    margin-top: 0px;
}


.fiil_the_information {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.vehicle, .FullHousehold, .Some_items, .OfficeOrOther {
    margin: 0px 10px;
}

.name_and_mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.name_and_mobile input  {
    width: 45%;
    margin: 10px 10px 10px 5px ;
    border: 1px solid #939292;
    border-radius: 5px;
    padding: 10px 70px 10px 15px;
    font-family: 'Roboto', sans-serif;

}
.To_from {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;

}
.To_from input {
    width: 45%;
    margin: 10px 10px 10px 5px;
    border: 1px solid #939292;
    border-radius: 5px;
    padding: 10px 70px 10px 15px;
    font-family: 'Roboto', sans-serif;

}
.date-sifting {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.date-sifting input {
    width: 100%;
    margin: 10px 10px 10px 5px;
    border: 1px solid #939292;
    border-radius: 5px;
    padding: 10px 70px 10px 15px;

}
.sumbit_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
 .sumbit_btn input {
    width: 100%;
    margin: 10px 5px;
    border: none;
    background-color: #5388FF;
    border-radius: 6px;
    padding: 10px 70px 10px 70px;
    color: #fff;
    font-size: 16px;

 }
 .sumbit_btn input[type=button] {
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
 }
 .get_0n {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-top: 3px;
 }
 .get_0n hr {
     width: 15%;
 }
 .get_0n p {
     margin: 0 15px;
     font-family: 'Lato', sans-serif; 
     color: #5C5C5C;
 }

 .Call_and_whatsApp {
     display: flex;
     flex-direction: row;
     position: sticky;
     margin-top: 30px;
     align-items: center;
     justify-content: center;
     justify-items: center;
     width: 100%;
 }
 .call_now {
     width: 50%;
 }

 .call_now a {
    background-color: #FF3A3A;
    color: white;
    text-decoration: none;
    padding: 8px 0px 8px 0px  ;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    margin-right: 10px;

 }
 .call_now a svg {
    margin-right: 16px;
 }

 .Whatsapp_now {
    width: 50%;
 }

 .Whatsapp_now a{
    background-color: #32A73D;
    color: white;
    text-decoration: none;
    padding: 5px 0px 5px 0px  ;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    justify-content: center;
 }
 .Whatsapp_now a svg{
    margin-right: 16px;

 }
 .fixed_call_and_wahtsapp_btn {
    display: none;
    
 }


/* 
 .vehicle label svg:hover ,
.FullHousehold label svg:hover ,
.Some_items label svg:hover ,
.OfficeOrOther label svg:hover {
    opacity: 0.7;
}   */

.vehicle  p, .FullHousehold  p, .Some_items  p, .OfficeOrOther  p{
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    color: #404040;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
    font-size: 15px;
}
.vehicle input, 
.FullHousehold input, 
.Some_items input,
.OfficeOrOther input {
    display: flex;
    position: absolute;
    margin-top: 33px;
    margin-left: 15px;

}
.vehicle  label svg {
    margin-top: 20px;
}
.FullHousehold label svg {
    margin-top: 20px;
}
.Some_items label svg {
    margin-top: 20px;
}
.OfficeOrOther label svg {
    margin-top: 20px;
}

/* all services box area ========================================================= */
.all_services_boxx {
    width: 80%;
    margin: auto;
    position: relative;
    top: 150px;
    margin-bottom: 100px;
}
.services_box {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.services_svg a svg:hover{
    height: 157px;
    /* width: 98%; */
    transition: all 0.2s ease-in;
}



/* 12 tips for helping packers and movers----------------------------------- */
.tips_cotainer {
    width: 100%;
    margin: 75px 0px 100px 0px ;
}
.tips_subcontainer {
    /* width: 90%; */
    margin: auto;
}
.underlineforH2 {
    width: 230px;
    text-align: center;
    margin: auto;
    border: 2px solid red;
    margin-bottom: 35px;
}
/* .tips_subcontainer h2{
    text-align: center;
} */
.tips_boxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    width: 45%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: auto;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    background: rgb(231, 239, 250);
    max-height: 170px;

}
.box h3 {
    padding: 7px 15px !important;

}
.box h3 span {
    padding: 4px 0px;
    font-size: 25px;
    /* border: 1px solid rgb(207, 75, 42); */
    /* background-color: #fff; */
    /* border-radius: 50px; */
    /* margin: 2px 10px 2px 10px;align-items: center; */
}
/* .box::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
    width: 3px;
    
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 20px;
  }
::-webkit-scrollbar-thumb {
    background: #d3d3d4; 
    border-radius: 20px;
  }
.box:nth-child(3n+0) {
    background: rgb(249, 235, 250);
  }
  .box ol li {
      margin-left: 15px;
      font-size: 16px;
      color: #474747;
      margin-top: 12px;
  }




  

/* second helf section ========================================================== */
.secondHelf{
    width: 50%;
    position: absolute;
    right: 0%;
    z-index: -1;
}
.secondHelf svg{
    width: 100%;
    border: 0px solid white;
    /* border-radius: 10%; */
    display: block;
    margin: auto;
}
.text_big{
    font-size: 40px;
    font-weight: bolder;
    color: #5388ff;
    /* display: contents; */
    width: 90%;
    font-family: 'Ubuntu', sans-serif;
}
.text_small {
    width: 80%;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.btn {
    margin: 20px 0px; 
    border-radius: 10px;
    font-size: 18px;
    background-color: #fff;
    border: none;

}
.pics_img {
    padding-top: 100px;
    display: none;
}
.pics_img svg {
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}



/* <=============================== contact us form =================================>  */
.contact {
    /* background-color: rgb(243, 243, 243); */
    /* height: 100%; */
    margin-top: 20px;

}
.Contact_Us {
    margin-top: 150px;
}
.conact_us {
    text-align: center;
    padding-bottom: 40px;
    font-size: 35px;
}
.form{
    max-width: 92%;
    margin: 25px auto;
    display: flex;
    justify-content: center   ;
}
.form .contact_us_img {
    width: 40%;
    position: relative;
    right: 70px;
    
}
.contact .form form {
    width: 30%;
    /* margin-left: 30px; */
    position: relative;
    left: 50px;
}
.form_input{
    width: 100%;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 13px 0px;
    padding: 5px 3px;
}
.contect_btn {
    padding: 10px 15px;
    /* border: 1px solid rgb(0, 17, 255); */
    background-color: #5388FF;
    cursor: pointer;
    color: #fff;
}
/* <==================================================================================> */


/* <============================= contect us socle midia i-cone =======================> */

.socale_icon_and_pearnt {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.socale_icon_and_pearnt .logo_parent {
    width: 30%;
}
.socel_midia {
    align-items: center;
}
.logo_parent img {
    width: 100%;
}

.socel_midia a {
    margin: 0px 20px;
    text-decoration: none;
}

.location {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

/* <==================================================================> */




.dark a {
    color: #7f7f7f;
    font-size: 18px;
    padding: 10px 10px;
    border: 1px solid #0326a3;
    border-radius: 5px  ;

}
footer {
    width: 100%;
    background-color: #f2f2f2;
}
.text_footer{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 18px;
    color: white;
}
.burgger {
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 30px;
}
.line {
    width: 33px;
    background-color: #fff;
    height: 4px;
    margin: 5px 3px;
}

/*<========================= main contant box area ============================= */
.content_box {
    width: 100%;
    /* background-color: #fff; */
    /* padding: 25px 0px; */
}
.content {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    /* background-color: #ffffff; */
    margin-top: 25px;
    padding: 90px 75px 10px 75px;
    margin-bottom: 100px;

}











/* <================================= table ============================================> */
table{
    border-collapse: collapse;
    border-width: 0;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    border-color: inherit;
    letter-spacing: 0.5px;
 }
 

 .Price_table th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #ffffff;
    border-right: 1px solid #8b8b8b;
    border-bottom: 2px solid #c2c2c2;
 }
 .Price_table th:nth-of-type(4){
    border-right: 1px solid #8b8b8b;
 }
 .Price_table th:nth-of-type(1){
     border-left: 1px solid #8b8b8b;
 }
 .Price_table td {
    font-weight: normal;
    font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    border-right: 1px solid #c2c2c2;
 }
 .BOX_TABLE td{
    border-bottom: 1px solid #c2c2c2;   
 }
 .BOX_TABLE td:nth-child(3){
    border-right: none;
}
 
 .Price_table {
    text-align: left;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    border-radius: 5px;
    margin-bottom: 50px;
 }
 .Price_table thead {
    border: 1px solid #c2c2c2;
 }
 .Price_table tbody {
    border: 1px solid #c2c2c2;
 }
 .Price_table td, .Price_table th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
    font-family: 'Poppins', sans-serif;
    font-size: 13.5px;
    border-bottom: 1px solid #c2c2c2;
 }
 
 .Price_table td a {
    text-decoration: none;
    color: #0E1119;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.42, 0, 0, 0.12);
 }
 .Price_table td a:hover {
    color: #012f99;
    text-decoration:underline;
    box-shadow: 0px 0px 5px 1px #0132a5e7;

 }
 thead tr {
    box-shadow: 0px 2px 8px 9px #012f99;
 }

 .Price_table tr:nth-child(odd) {
       background-color: #f8faff;
 }
 

 .Price_table tr:nth-child(even) {
       background-color: #f8faff;
 }
 
 .Price_table th {
       background-color: #5388ff;
       font-size: 16px;
       font-weight: 600;
 }
 .Price_table td:nth-of-type(4){
     border-right: none;
 }
 
 .Price_table td:first-child { 
     color: #444444;
     font-weight: 600;
     font-size: 16px;
     }
.BOX_TABLE td:first-child   {
    color: black;
    font-weight: 400;
    font-size: 13.5px;
}
.contact .list_table_heading {
    padding: 10px 0px;
    width: 90%;
    text-align: center;
    background: #5388ff;
    margin: auto;
    border: 1px solid #c2c2c2;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    color: #fff;
}

 
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display:block ; }
 .Price_table, .contact .list_table_heading{
     width: 100%;
 }
 
 }






/* <====================================== content start ==========================================> */

.content img {
    float: right;
    width: 50%; 
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 15px;
}

.content ol li {
    color: #474747;
    line-height: 30px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.main_heading_h2 h2 {
    padding-bottom: 15px;
    font-size: 30px;

}
.content h2 {
    padding: 10px 0px 10px 10px;
    border-left: 6px solid #5388ff;
    font-size: 30px;
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    margin-top: 45px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.content h3 {
    padding: 10px 0px 0px 15px;
    color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
}
.content p {
    padding: 5px 0px 25px 15px;
    font-family: 'Open Sans', sans-serif;
    color: #474747;
    font-weight: 400;
    word-spacing: 3.8px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.underline{
    width: 100px;
    height: 5px;
    background: #5388ff;
    margin-bottom: 15px;
}
/* <================================================================================================>  */





/* <============================================= FAQs =============================================>  */
.Faq_continar {
    height: 100%;
    width: 100%;

}
.sub_Faq_continar {
    width: 55%;
    margin: auto;
    padding: 10px 20px ;
    
}
.sub_Faq_continar h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #202020;
}
details {
    margin: 25px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 5px;
}
summary {
    background-color: #ebebeb;
    padding: 10px 5px;
    border-radius: 5px;
    color: #202020;
    font-family: 'Poppins', sans-serif;
}
details p {
    background-color: #f2f2f2;
    color: #343434;
    font-family: 'Poppins', sans-serif;
}

.horozentel_line {
    width: 90%;
    text-align: center;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

/* <=======================================================================> */



/* <============================= final wordes ============================> */
.finalWord {
    width: 100%;
    height: 100%;
    margin-top: 25px ;
    margin-bottom: 50px;
}
.final_disclamber {
    width: 90%;
    height: 80%;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: auto;
    padding: 20px 10px;
    color: #454545;
    font-weight: 400;
    word-spacing: 3.5px;
        line-height: 19.2px;
}
.final_disclamber p, .final_disclamber p b{
    font-family: 'Poppins', sans-serif;
}
 
/* <==================================================================================> */










/* <========================================= city ancher text area ====================================> */

.citys_sec  {
    line-height: 22px;
    width: 95%;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 13px;
    /* background: linear-gradient(100deg, #1144d1, #335ae7); */
    background-color: #5388ff;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 325px;
    overflow: auto;
    margin-top: 20px;
}
.citys_sec::-webkit-scrollbar {
    display: none;
}
.City_one_colom {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
.City_one_colom a  {
 padding: 10px 5px ;
 color: white;
 font-weight: 400;
 text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;

}
.City_one_colom a:hover  {
    background: linear-gradient(90deg, #4d74ff, #4e71d2);
    padding: 10px 5px;
    border-radius: 15px;
    font-size: 12px;



}

.Copyright_footer_sec {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}   

/* <==============================================================================================> */





/*<===================== COST CALCULATOR FOR PACKERS AND MVOERS IN DELHI =====================> */
.headlieForCostCalculator {
    width: 85%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.headlieForCostCalculator h1 {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 30px 0px 10px 0;
    color: rgb(44, 44, 44);

}
.headlieForCostCalculator p  {
    font-size: 16px;
    color: #313131;
}
.cost_calculator_megha {
    width: 85%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    background: #3392ff;
    justify-content: space-around;
    border-radius: 8px;
    margin-bottom: 150px;

}
.cost_calculator_megha svg {

    height:80%;
    width:30%;
}


.cost_calculator_sec {
    opacity: 0.8;
    margin: 50px 0px;
    width: 100%;
    height: 100%;
}
.cost_calculator {
    width: 40%;
    color: #fff;
}

.cost_calculator form {
    z-index: 3;
    width:100%;
    color: rgb(0, 0, 0);
    text-align: start;
    margin: auto;
    margin-top: 50px;
    /* margin-left: 100px; */
    margin-bottom: 50px;
}


.cost {
    display: flex;
    margin: 20px 0px ;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

.cost input[type=text],.cost input[type=tel]{
    padding: 10px 10px;
}

.cost input, .cost select {
    width: 100%;
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid rgb(69, 72, 88);
    padding: 8px 0px;
}
input:focus{
    outline: none;
    /* width: 100% ; */
    border-bottom: 2.5px solid rgb(36, 65, 194);
}
/* input[type=text]{
    padding: 10px 0px 10px 0px;
    width: 100%;
}
input[type=tel]{
    padding: 10px 0px 10px 0px ;
} */
.cost select {
    width: 100%;
    padding: 0.5rem;
}

.button_for_form_submit input {
    width: 100%;
    margin: 10px 0px 0px 0px ;
    padding: 10px 0px ;
    text-align: center;
    justify-self: center;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    font-size: 18px;
    transition: all 0.3s ease-in;

}
.button_for_form_submit input:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* <================================================================================================> */




/*<================================== factors of cost ===============================================> */

.factor_for_cost {
    width: 85%;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
.factor_for_cost h3 {
    color: #303030;
    margin-bottom: 30px;

}
.icon_factor {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d9e6fa;
    justify-content: space-evenly;
    border-radius: 5px;
    /* margin-bottom: 100px ;
    margin-top: 20px; */
    
}
.foctors {
    margin: 30px 0px;

}
.foctors a {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    /* text-decoration: none; */
    color: rgb(15, 62, 216);
    font-weight: 600;
}
.foctors a p {
    margin: 10px 0px;
}

/* <============================================================================================> */





/*<====================================== cost calculater contant ================================> */
.cost_contant {
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.cost_contant img {
    float: right;
    margin: 0px 0px 20px 20px ;
    width: 45%;
}
.cost_contant h2{
    font-size: 26px;
    margin: 50px 0px 15px 0px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px 10px 10px;
    border-left: 6px solid #5388ff;
}
.cost_contant h3 {
    font-size: 23px;
    margin: 30px 0px 10px 0px;
    padding: 5px 0px 25px 15px;
    font-family: 'Poppins', sans-serif;
    
}
.cost_contant h4{
    font-size: 19px;
    margin: 30px 0px 5px 5px;
    padding: 5px 0px 25px 15px;
    font-family: 'Poppins', sans-serif;
}
.cost_contant p {
    padding: 5px 0px 25px 15px;
}

/* <===============================================================================================> */





















@media only screen and (max-width: 800px) {
    .cost_calculator_megha {
        flex-direction: column;
    }
    .cost_calculator {
        width: 80%;
    }
    .cost_calculator_megha svg {
        width: 80%;
        height: 80%;
        margin: 25px;
    }
    .navbar {
        flex-direction: column;
        height: 350px;
        position: static;
        -webkit-tap-highlight-color: transparent;
    }
    .menu{
        flex-direction: column;
        height:  400px;
    } 
    .menu ul {
        flex-direction: column;
    }
    .menu ul li  {
        padding: 20px 0px;
    }
    .menu ul li a {
        font-size: 13px;
    }
    nav{
        width: 200px;
    }
    .logo{
        width: 40%;
        height: 300px;
    
    } 
    .logo h2 {
        
        text-align: center;
        color: white;
        font-size: 25px;
        justify-content: center;
        margin: auto;
        padding: 0;
    }
    .burgger{
        display: block;
        margin-top: -10px;
    }
    .h_nav_resp{
        height: 70px;

    }
    .v_class_resp {
        opacity: 0;
    }
  
    .text_big {
        font-size: 24px;
        padding: 8px 0px;
        font-weight: 700;
        display: flex;
        text-align: start;
        margin: auto;
    }
    .paragerap_p p {
        font-size: 13px;
    }
    .text_small{
        font-size: 13px;
        width: 98%;
        line-height: 25px;

    }
    
   
    .firsetHalf{
        width: 100%;
        align-items: center;
        margin: auto;
        margin-top: 45px;
        
    } 
    .bold_moving p {
        display: none;
    }
    .date-sifting input {
        margin: 10px 0px 10px 5px;
    }
    .fill_box {
        height: 100vh;
        margin: auto;
        align-items: center;
        margin-top: 15px;

    }
    .box_main {
        max-width: 95%;
    }
  
   
    .form {
        flex-direction: column;
    }
    .vehicle, .FullHousehold, .Some_items, .OfficeOrOther {
        display: none;
    }
    
    .form .contact_us_img{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        position: inherit;
    }
    .contact .form form {
        width: 90%;
        position: inherit;
        margin: auto;
    }

   .socale_icon_and_pearnt {
       flex-direction: column;
   }
   .socale_icon_and_pearnt .logo_parent {
       width: 70%;
   }
   .socel_midia {
       margin-top: 20px;
   }
   .socel_midia a {
       margin: 0px 10px;
   }

    /* <======================================== contant =============================> */
    .content {
        width: 95%;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 25px;
        background-color: #fff;
        /* margin-top: 35px; */
        padding: 15px 0px;
        margin-bottom:15px;
    
    }
    .content h2 {
        font-size: 24px;
        margin-top: 0px;
    }
    .content h3{
        font-size: 20px;
    }
    .content img{
        float: none;
        width: 94%;
        margin: auto;
    }
    .content ol li {
        font-size: 14px;
        margin-left: 23px;
        line-height: 25px;
    }
    .secondHelf svg{
       display: none;
       flex-direction: column;
       width: 0%;
    }
    .secondHelf {
        width: 0%;
    }

    /*<============================= all services box area ========================================================= */
    .all_services_boxx {
        position: relative;
        top: 50px;
        /* margin-bottom: 81px; */
        margin-top: 100px;
        width: 100%;
    }
    .services_box {
        margin: 0;
    }


  /*<======================== box for 12+ Tips for helping for you======================================== */
  .tips_boxs{
      flex-direction: column;
  }
  .tips_subcontainer {
      width: 100%;
  }
  .underlineforH2 {
      width: 55%;
  }
  .box {
      width: 97%;
  }
  .box ol li {
      font-size: 14px;
  }
    .pics_img {
        display: block;
        padding-top: 305px;
        margin-bottom: -75px;
        margin-top: -100px;
    }
     
    .content p {
        font-size: 15px;
    }

    .col{
        flex: 100%;
        max-width: 80%;

    }


/* <================================== faq Quetion=====================================> */
    .Faq_continar {
        height: 100%;
        width: 100%;
    
    }
    .sub_Faq_continar {
        width: 85%;
        margin: auto;
        padding: 10px 20px ;
        
    }
    .sub_Faq_continar h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    details {
        margin: 20px 0px ;
        border-radius: 5px;
        font-size: 14px;
    }
    summary {
        background-color: #ebebeb;
        padding: 10px 5px;
        border-radius: 5px;
    }
    details p {
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 15px 5px;
    }
    .final_disclamber  {
        
        font-size: 14px;
    }
    
    .Whatsapp_now a {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        padding: 5px 8px 5px 5px;
    }
    
    /* <=============================== footer =============================> */
.Whatsapp_now a svg {
    margin-right: 7px;
}

.call_now a {
    padding: 8px 10px 8px 7px;
    font-size: 14px;
    margin-right: 5px;
}
.call_now a svg {
    margin-right: 7px   ;
}

.City_one_colom a {
    font-size: 12px;
}

#copyright{
    font-size: 14px;
}

.cost_contant h2{
    font-size: 22px;
}
.cost_contant img{
    flex-direction: column;
    float: none;
    width: 100%;
    margin: 20px 0px;
}
.cost_contant h3 {
    font-size: 20px;
}
.cost_contant h4{
    font-size: 18px;
}
.cost_contant p {
    font-size: 14px;
}



  
}


@media only screen and (max-width: 600px) {
    

    .col{
        flex: 100%;
        max-width: 100%;

    } 
    .text_footer {
        font-size: 14px;
        margin-bottom: 45px;
    }
    .fixed_call_and_wahtsapp_btn {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        margin: auto;
        margin-top: 30px;
        align-items: center;
        justify-content: space-around;
        justify-items: center;
        width: 100%;
        height: 60px;
        background-color: #fff;
        box-shadow: 0px 0px 3px #e9e9e9,
                    0px 0px 1px #e9e9e9, 
                    inset 6px 5px 10px #e9e9e9,
                    inset 0px 2px 10px #e9e9e9;
    
     }
     .call_now_slider {
         width: 80%;
         align-items: center;
         display: flex;
        background-color: #417bff;
        padding: 10px 0px;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 18px;
        justify-content: center;
        border-radius: 5px;
        box-shadow:rgb(83 136 255) 0px 0px 3px, rgb(64 109 211) 0px 0px 1px, rgb(74 111 249) 6px 5px 10px inset, rgb(92 121 231) 0px 2px 10px inset;
     }
     .call_now_slider svg{
         margin-right: 10px;
         font-size: 5px;
     }
     
     .Whatsapp_now_sliders {
         text-decoration: none;
         padding: 13px 3px;
         width: 12%;
         display: flex;
         align-items: center;
         background-color: #417bff;
         justify-content: center;
         border-radius: 5px;
         box-shadow: rgb(83 136 255) 0px 0px 3px, rgb(64 109 211) 0px 0px 1px, rgb(74 111 249) 6px 5px 10px inset, rgb(92 121 231) 0px 2px 10px inset;
     }
     .Whatsapp_now_sliders svg {
         margin-right: 7px;
         font-size: 5px;
     }
    
     .sumbit_btn input {
        width: 100%;
        margin: 10px 5px;
        border: none;
        background-color: #5388FF;
        border-radius: 6px;
        padding: 10px 25px ;
    
     }
    
    footer{
        margin-bottom: 65px;
    }
    
}


/* @media only screen and (max-width: 1290px) {
    .fill_box {
        height: 100%; 
        width: 88%; 
    }
} */
@media  (max-width: 800px) and (min-width:0px) {
 
    .logo a {
        display: none;
    }
    .fill_box {
        height: 100%;
        width: 88%;
    }
    .name_and_mobile{
        display: flex;
        flex-direction: column;
    }
    .name_and_mobile input {
        width: 95%;
        padding: 10px 0px 10px 10px;
    }
    .To_from {
        display: flex;
        flex-direction: column;
    }
    .To_from input {
        padding: 10px 0px 10px 10px;
        width: 95%;
    }
    .date-sifting {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .date-sifting input {
        padding: 10px 0px 10px 10px;
        width: 95%;
    }
}


@media  (max-width: 2000px) and (min-width:1700px) {
    .fill_box{
        width: 60%;
    }
}
@media  (max-width: 1400px) and (min-width:1200px) {
    .fill_box{
        width: 80%;
    }
}
@media  (max-width: 1200px) and (min-width:800px) {
    .fill_box{
        width: 60%;
    }
    .name_and_mobile, .To_from, .date-sifting {
        
        display: flex;
    flex-direction: column;
    }

    .date-sifting input, .To_from input, .name_and_mobile input {
        width: 95%;
        padding: 10px 5px;
        margin: 10px 0px;
    }
}